@page
@model RazorPagesAudioAlbum.Pages.AudioAlbums.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="AudioAlbumGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AudioAlbum[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioAlbum[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioAlbum[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioAlbum[0].Executor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioAlbum[0].NumberOfTracks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioAlbum[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioAlbum[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AudioAlbum) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Executor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTracks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
